<?xml version="1.0"?>
<robot name="m100_sim" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find dji_m100_description)/urdf/dji_m100.urdf.xacro" />

  <gazebo>
    <plugin name="hector_quadrotor_simple_controller" filename="libhector_gazebo_quadrotor_simple_controller.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>cmd_vel</topicName>
      <stateTopic>ground_truth/state</stateTopic>
      <imuTopic>raw_imu</imuTopic>
      <rollpitchVelocityPGAIN>10.0</rollpitchVelocityPGAIN>
      <rollpitchVelocityDGAIN>0.0</rollpitchVelocityDGAIN>
      <yawVelocityPGAIN>5.0</yawVelocityPGAIN>
      <yawVelocityDGAIN>0.0</yawVelocityDGAIN>
      <heightVelocityPGAIN>30.0</heightVelocityPGAIN>
      <heightVelocityDGAIN>0.0</heightVelocityDGAIN>
    </plugin>
  </gazebo>
</robot>
