<?xml version="1.0"?>
<robot name="m100_barebones" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="robot_namespace" default="/" />
  <xacro:property name="clean_ns" value="${'$(arg robot_namespace)'.strip('/')}" />

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>

  <link name="base_link">
    <inertial>
      <mass value="2.35" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.039" ixy="0.0" ixz="0.0" iyy="0.039" iyz="0.0" izz="0.062" />
    </inertial>
    <collision>
      <geometry>
        <box size="0.4 0.4 0.2"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.4 0.4 0.2"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
  </link>

  <gazebo>
    <plugin name="hector_quadrotor_simple_controller" filename="libhector_gazebo_quadrotor_simple_controller.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>cmd_vel</topicName>
      <stateTopic>dummy_state_bypass</stateTopic>
      <imuTopic>dummy_imu_bypass</imuTopic>
      <rollpitchVelocityPGAIN>75.0</rollpitchVelocityPGAIN>
      <rollpitchVelocityDGAIN>5.0</rollpitchVelocityDGAIN>
      <yawVelocityPGAIN>15.0</yawVelocityPGAIN>
      <yawVelocityDGAIN>1.0</yawVelocityDGAIN>
      <heightVelocityPGAIN>250.0</heightVelocityPGAIN>
      <heightVelocityDGAIN>10.0</heightVelocityDGAIN>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="quadrotor_state_sim" filename="libgazebo_ros_p3d.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>ground_truth/state</topicName>
      <frameName>world</frameName>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="quadrotor_imu_sim" filename="libhector_gazebo_ros_imu.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <bodyName>base_link</bodyName>
      <frameId>${clean_ns}/base_link</frameId>
      <topicName>raw_imu</topicName>
    </plugin>
  </gazebo>
</robot>
