<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <include file="$(find flie_swarm_core)/launch/spawn_drone.launch">
    <arg name="drone_name" value="drone_1" />
    <arg name="x" value="0.0" />
    <arg name="y" value="2.0" />
    <arg name="x_dir" value="1.0" />
    <arg name="y_mult" value="1.0"/>
  </include>

  <include file="$(find flie_swarm_core)/launch/spawn_drone.launch">
    <arg name="drone_name" value="drone_2" />
    <arg name="x" value="0.0" />
    <arg name="y" value="-2.0" />
    <arg name="x_dir" value="-1.0" />
    <arg name="y_mult" value="-1.0"/>
  </include>
</launch>
